.box {
  display: flex;
  justify-content: center;
}

.spinner {
  border: 3px solid var(--cyan);
  border-left-color: #00000000;
  border-right-color: #00000000;
  border-radius: 50%;
  display: block;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }
}